@import "_variables";

@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-size: 100%;
  position: relative;
}

body {
  // Font
  // ---
  // TODO(Nghia Lam): Test more fonts.
  font-family: $font-family;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  // Color
  background-color: $black;
  color: $white;
  overflow: hidden;
}

ul,
li {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}

iframe {
  border: 0;
}

#root,
.App {
  height: 100%;
}

.main-color {
  color: $main-color;
}

.second-color {
  color: $second-color;
}

.title {
  font-weight: 700;
}

.container {
  max-width: 1670px;
  margin: auto;
}
